.container_weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_weather > h1 {
  color: #ffc107;
}
.temp_data {
  margin-left: 44px;
}
.content_values_temp {
  color: #55a8fd;
  font-weight: 700;
  font-size: 18px;
}
.container_weather > span >img {
  width: 73px;
  margin-left: 90px;
}

