.container_weather {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 140px;
}
.container_weather > h1 {
  color: white;
}
.temp_data {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 15%;
}
.spiner_ {
  position: relative;
  left: 40%;
  top: 100px;
}

.content_clima {
  color: #ffc107;
  position: relative;
  top: 50px;
}
.content_values_temp {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20%;
  color: white;
}
.positionIcon {
  position: relative;
  top: 10px;
  left: 101px;
  width: 70px;
  color: white;
}
