.content__navbar {
    width: 100%;
    background-color: black;
    height: 64px;
    display: flex;
    border-radius: 4px;
}
.content__navbar__list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content__navbar__list > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}